#home {
    background-image: url(../imgs/fundo-banner.png);
    background-repeat: no-repeat;
}

.hero {
    /*     height: 100vh; */
    background: #fff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    max-width: 100%;
    height: auto;
}