.h2-patrocinio {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.row-patrocinio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    gap: 30px;
}

.row-patrocinio img {
    height: auto;
    object-fit: contain;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.divisao {
    border: 1px solid #000;
    margin: 1rem 0;
}

@media (min-width: 768px) {

    .col-md-3,
    .col-md-4 {
        padding: 10px 15px;
    }
}