/* Estilos para os ícones de redes sociais no rodapé */
.social-icons {
    margin-top: 10px;
}

.social-icons p {
    margin: 0;
    font-size: 1.2em;
}

.social-icon {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #007bff;
    /* Cor ao passar o mouse */
}

footer {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: #fff;
    padding: 20px 0;
}