@import url('../css/botao-flutuante.css');
@import url('../css/navegacao.css');
@import url('../css/home.css');
@import url('../css/rodape.css');
@import url('../css/modal.css');
@import url('../css/palestrante.css');
@import url('../css/patrocinio.css');
@import url('../css/programacao.css');
@import url('../css/resolucao-mobile.css');

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/*PADDING BOOTSTRAP PERSONALIZADO PARA AS SEÇÕES*/
.py-section{
    padding-top: 4.7rem;
    padding-bottom: 3rem;
}

.container{
    max-width: 1350px;
}